<div class="card">
  <header class="card__header">
    <h3 class="product__name">Мексиканская пицца</h3>
    <span class="product__price">14 рублей</span>
    <span class="badge badge--primary badge--small">10% OFF</span>
  </header>
  <div class="card__body">
    <img class="product__image" src="/images/products/burrito.jpg" alt="burrito photo">
    <div class="product__description">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Sotrage</li>
      </ul>
    </div>        
  </div>
</div>